<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10 px;
            padding-right: 10 px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>

<body>

    {% for lead in leads%}
        <div class="lead">
            <a href="/leads/{{lead.pk}}/">{{lead.first_name}} {{lead.last_name}}</a> {{lead.age}}
        </div>
    {% endfor %}

    <div>
        DONE
    </div>
</body>
</html>